In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import dotenv
dotenv.load_dotenv()

True

In [3]:
from satellite.downloader import download_br_netcdf
from satellite.weather import load_dataset

Warning: Input is not a terminal (fd=0).

---

## `copebr` extension basic usage

In [4]:
# Downloads the last update date from Copernicus
br_last_update = download_br_netcdf()

2023-08-23 15:14:06,754 WARNING No date provided, downloading last available date: 2023-08-15
2023-08-23 15:14:07,752 INFO Welcome to the CDS
2023-08-23 15:14:07,753 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels
2023-08-23 15:14:08,030 INFO Request is queued
2023-08-23 15:14:09,280 INFO Request is running
2023-08-23 15:14:11,029 INFO Request is completed
2023-08-23 15:14:11,030 INFO Downloading https://download-0008-clone.copernicus-climate.eu/cache-compute-0008/cache/data4/adaptor.mars.internal-1692814449.6167243-31762-12-022f5d53-5311-4626-80d4-05acbd59032b.nc to /home/bida/copernicus_data/BR_20230815.nc (1.6M)
2023-08-23 15:14:14,263 INFO Download rate 514.3K/s

In [5]:
# Loads the dataset into memory
ds = load_dataset(br_last_update)

In [6]:
# Extracts information of Rio de Janeiro & SÃ£o Paulo
ds.copebr.to_dataframe([3304557, 3550308])

,date,temp_max,precip_max,umid_max,pressao_max,temp_med,precip_med,umid_med,pressao_med,temp_min,precip_min,umid_min,pressao_min,precip_tot,geocodigo
0,2023-08-15,23.958038,0.09101,90.754807,1.009775,21.502148,0.028034,85.658394,1.008340,20.063751,0.00120,76.061295,1.006483,0.22427,3304557
1,2023-08-15,22.898865,0.06386,94.971375,1.010225,17.993004,0.012465,87.883133,1.008326,15.649170,0.00021,69.860809,1.005738,0.09972,3550308

---

## Date ranges

In [7]:
# Downloads BR dataset between dates 2023/jan/01 & 2023/feb/01
br_between = download_br_netcdf("2023-01-01", "2023-02-01")

2023-08-23 15:14:14,918 INFO Welcome to the CDS
2023-08-23 15:14:14,920 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels
2023-08-23 15:14:15,206 INFO Request is queued
2023-08-23 15:14:16,453 INFO Request is running
2023-08-23 15:16:11,009 INFO Request is completed
2023-08-23 15:16:11,012 INFO Downloading https://download-0019.copernicus-climate.eu/cache-compute-0019/cache/data2/adaptor.mars.internal-1692814528.8969703-8285-5-ece3add4-0b70-46de-987d-56b1a90cc594.nc to /home/bida/copernicus_data/BR_20230101_20230201.nc (95.6M)
2023-08-23 15:16:29,571 INFO Download rate 5.2M/s

In [8]:
ds = load_dataset(br_between)
ds.copebr.to_dataframe([3304557, 3550308])

,date,temp_max,precip_max,umid_max,pressao_max,temp_med,precip_med,umid_med,pressao_med,temp_min,precip_min,umid_min,pressao_min,precip_tot,geocodigo
0,2023-01-01,28.611298,3.12800,92.637657,1.003064,25.204868,0.469126,82.269981,1.001414,22.447174,0.00000,69.146835,0.999961,3.75301,3304557
1,2023-01-02,29.972565,1.57566,93.351074,1.001920,25.821037,0.246625,77.906898,0.999366,22.230316,0.00000,59.107758,0.995433,1.97300,3304557
2,2023-01-03,32.171112,0.01402,86.056244,0.997397,27.237656,0.002541,71.091240,0.995910,23.381561,0.00000,52.390064,0.994020,0.02033,3304557
3,2023-01-04,31.644012,1.24125,84.621117,0.995893,27.618412,0.230718,74.430405,0.994690,25.641022,0.00000,56.445282,0.993015,1.84574,3304557
4,2023-01-05,24.221985,1.04915,93.496033,0.998718,23.498684,0.480956,90.630959,0.997706,22.909393,0.20296,86.908440,0.995900,3.84765,3304557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,2023-02-24,27.790466,2.58905,96.370659,1.004442,22.983707,0.353426,83.028641,1.002013,19.579987,0.00000,63.509815,0.998373,2.82741,3550308
114,2023-02-25,29.078644,0.08904,90.016891,1.000679,24.465527,0.015863,75.821976,0.999668,20.954620,0.00000,54.282536,0.998526,0.12690,3550308
115,2023-02-26,29.522125,0.17141,94.143776,1.002934,24.306385,0.026421,78.235962,1.001974,20.295319,0.00000,57.990234,1.000577,0.21137,3550308
116,2023-02-27,26.982086,1.32204,96.778206,1.006740,23.178593,0.210739,85.762985,1.005356,20.917511,0.00000,72.130119,1.003563,1.68591,3550308
117,2023-02-28,25.129486,2.49371,94.829453,1.008107,21.530560,0.445487,89.396790,1.007063,19.525330,0.04960,76.432892,1.005563,3.56390,3550308